docs/n8n/03. Follow up.json
{
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "*/15 * * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        208,
        368
      ],
      "id": "605e1d58-fe63-47e8-8617-40e2d64dfe75",
      "name": "Gatilho Follow-up (15 min)"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM public.controle_atendimentos \nWHERE LOWER(status_agendamento) NOT IN ('cancelado','bloqueio','não apareceu','nao apareceu')\nAND followup_enviado_em IS NULL \nAND fim_agendado::timestamp <= NOW() - INTERVAL '2 hours';",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        432,
        368
      ],
      "id": "2dabe891-6804-4f44-b926-6fe1e9c45583",
      "name": "Buscar Clientes Elegíveis",
      "credentials": {
        "postgres": {
          "id": "dxKiCg78jqbypAcM",
          "name": "Postgres account - Clientes"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        640,
        368
      ],
      "id": "fe36cfa7-9951-4e09-a34d-8cadf9bd3136",
      "name": "Loop Clientes"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "mensagem",
              "value": "=Opa {{ $json.nome_cliente }}, tudo bem? Esperamos que tenha curtido o serviço hoje com o {{ $json.profissional }}! Pra gente continuar melhorando, que nota de 1 a 5 daria para o seu atendimento hoje?",
              "type": "string"
            },
            {
              "id": "2",
              "name": "url_chatwoot",
              "value": "={{ $env.CHATWOOT_BASE_URL }}",
              "type": "string"
            },
            {
              "id": "3",
              "name": "id_conta",
              "value": "1",
              "type": "string"
            },
            {
              "id": "4",
              "name": "id_conversa",
              "value": "={{ $json.id_conversa_chatwoot }}",
              "type": "string"
            },
            {
              "id": "5",
              "name": "telefone",
              "value": "={{ $json.telefone }}",
              "type": "string"
            },
            {
              "id": "6",
              "name": "id_evento_google",
              "value": "={{ $json.id_evento_google }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        880,
        336
      ],
      "id": "8c5d6b84-85c0-424a-80fd-3fb04f64d4b2",
      "name": "Preparar Mensagem"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.url_chatwoot }}/api/v1/accounts/{{ $json.id_conta }}/conversations/{{ $json.id_conversa }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"content\": \"{{ $json.mensagem }}\",\n  \"message_type\": \"outgoing\",\n  \"private\": false\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1104,
        336
      ],
      "id": "6537cb80-19f4-4bc4-8984-bcbdebd36d12",
      "name": "Enviar texto",
      "credentials": {
        "chatwootApi": {
          "id": "vX4RCLBsooZpPuCk",
          "name": "ChatWoot account"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_historico_mensagens",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "session_id": "={{ $('Preparar Mensagem').item.json.telefone }}",
            "message": "={ \"type\": \"ai\", \"content\": \"{{ $('Preparar Mensagem').item.json.mensagem }}\" }",
            "id": 0
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "message",
              "displayName": "message",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1328,
        336
      ],
      "id": "ee9596db-a3ca-4dc4-9b3b-75c41678084a",
      "name": "Salvar Memória IA",
      "credentials": {
        "postgres": {
          "id": "dxKiCg78jqbypAcM",
          "name": "Postgres account - Clientes"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE public.controle_atendimentos \nSET followup_enviado_em = NOW() \nWHERE id_evento_google = '{{ $('Preparar Mensagem').item.json.id_evento_google }}';",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1552,
        336
      ],
      "id": "87abd8b8-412d-48ce-bf43-6a0a41cd695c",
      "name": "Marcar como Enviado",
      "credentials": {
        "postgres": {
          "id": "dxKiCg78jqbypAcM",
          "name": "Postgres account - Clientes"
        }
      }
    },
    {
      "parameters": {
        "height": 816,
        "width": 2016
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "94972fb0-927c-4297-9d35-8047aabe5c17",
      "name": "Sticky Note"
    }
  ],
  "connections": {
    "Gatilho Follow-up (15 min)": {
      "main": [
        [
          {
            "node": "Buscar Clientes Elegíveis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Clientes Elegíveis": {
      "main": [
        [
          {
            "node": "Loop Clientes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Clientes": {
      "main": [
        [],
        [
          {
            "node": "Preparar Mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Mensagem": {
      "main": [
        [
          {
            "node": "Enviar texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar texto": {
      "main": [
        [
          {
            "node": "Salvar Memória IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salvar Memória IA": {
      "main": [
        [
          {
            "node": "Marcar como Enviado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Marcar como Enviado": {
      "main": [
        [
          {
            "node": "Loop Clientes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bc9e8b558f6122d04c2daa17a3fa55b8a1c6e17ecb7a80552c27b5390c9f295a"
  }
}